img {
    max-width: 10%;
    margin: 0 40%;
}

#goodjob {

}

h1 {
  text: bold;
  font-family: Helvetica;
  color: white;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  color: white;
  text-align: center;
}

/*#timer {
  font-family: Helvetica;
  color: white;
  text-align: center;
} */

#tryagain {
  font-family: Helvetica;
  color: white;
  text-align: center;
}


